<nav class="navigation">

    <ul class="navigation-ulist">

        <li class="navigation-list">
            <a class="navigation-link" href="/"> About Tekz-Scripts </a>
        </li>

        <li class="navigation-list">
            <a class="navigation-link" href="#internal-characters"> Characters </a>
        </li>

        <li class="navigation-list">
            <a class="navigation-link" id="tekscripts-modal" href="/users/register"> Get TekzScripts </a>
        </li>

        <li class="navigation-list navsign">
            <a class="navigation-link" href=""> Sign In </a>
        </li>

    </ul>
</nav>


<div id="internal-teks" class="formbg-modal">
    <div class="form-modal">
        
        <!-- <div class="modal-close">+</div> -->
        <form class="get-form" action="">
            <div class="get-form-container">
                <label class="tekz-label" for="">Create Tekz-Scripts Account</label>
                <input class="form-input" type="text" placeholder="Name" required>
                <input class="form-input" type="email" placeholder="Email" name="" id="" required>
                <input class="form-input" type="password" placeholder="Password" required>
                <input class="form-input" type="password" placeholder="Retype Password" required>
                
                
                <button class="submit-button"> Submit </button>
            </div>
        </form>
    </div>
</div>

<section id="internal-characters" class="Characters">
    <div class="about-tek">
        <h2 class="about-header2">
            Characters
        </h2>

    </div>
    <div class="about-paragraph characters-p">
        <p data-aos="fade-up" data-aos-duration="3000" class="about-p characters-p-lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vitae adipisci enim corporis deserunt
            officia, possimus, natus odit itaque cum nostrum aliquid quibusdam quis voluptate amet, nam molestiae.
            Dolorem, eligendi.
        </p>
    </div>
</section>

<footer class="footer-section">
    <div class="footer-heading">
        <a class="footer-link" href="">Get Tekz-Scripts</a>
        <a class="footer-link" href="">Contact Support</a>

    </div>
</footer>
